@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --black: #000;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-size: 55.5555%; */
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay;
}

.container {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #0099ff;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: width 0.2s ease-in-out;
}

/* Scrollbar css */ */
/* *::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
} */

.MuiDataGrid-cellContent{
  font-size: 1.4rem;
  font-weight: 500;
}
.MuiDataGrid-columnHeaderTitle{
  font-size: 1.4rem;
  font-weight: 500;
}

.MuiLinearProgress-bar{
  background: #1E2968 !important;
}