.container {
    background-color: #1f2a40;
    border-radius: 14px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 15px 20px;
    max-height: 170px;
}

icon {
    transition: all 2s ease;
}