.sidebar {
    flex: 1;
    position: sticky;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(to bottom, #33418A, #34428C); */
    background-color: #09006F;
}

.top {
    margin-bottom: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E1B6B;
}

.logoContent {
    font-size: 1.8rem;
    font-weight: 800;
    color: white;
    margin-left: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    flex: 12;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 6px 20px;
    text-decoration: none;
    margin-left: 20px;
    min-width: 100%;
}

.itemContent {
    font-size: 1.8rem;
    font-weight: 600;
    color: #8E92BC;
    text-transform: capitalize !important;
}

.itemContent.enable {
    color: white
}

.bottom {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.nameUser {
    margin-left: 10px;
    color: rgb(213, 213, 213);
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.nameUser p {
    width: 100%;
    text-align: center;
}

.pattern {
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.sidebarContent {
    position: absolute;
    flex: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}